<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">


    <!--插入新的菜品-->
    <!--返回生成ID,并将其赋值给ID-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, create_time, update_time, create_user, update_user,status)
            VALUES
        (#{name},#{categoryId},#{price},#{image},#{description},#{createTime},
         #{updateTime},#{createUser},#{updateUser},#{status})
    </insert>

    <!--根据菜品ID批量删除菜品以及关联口味-->
    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
    <!--菜品分页查询-->
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryname from dish d
            left join category c on d.category_id = c.id
        <where>
            <if test="name != null">and d.name like concat('%',#{name},'%')</if>
            <if test="categoryId != null">and d.category_id = #{categoryId}</if>
            <if test="status != null">and d.status = #{status}</if>
        </where>
        order by d.create_time desc
    </select>


    <!--修改菜品基本信息-->
    <update id="update">
        update dish
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>

    <!--根据分类ID获取菜品-->
    <select id="getByCategoryId" resultType="com.sky.vo.DishVO">
        select * from dish where category_id = #{categoryId}
    </select>


</mapper>